<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="field">
    <div class="control">
        <label class="radio">
            <input type="radio" formControlName="sex" value="female">
            Female
        </label>
        <label class="radio">
            <input type="radio" formControlName="sex" value="male">
            Male
        </label>
        
    </div>
    <div class="control">
        <label class="radio">
            Survived ?
            <input type="radio" formControlName="survived" value="1">
            yes
        </label>
        <label class="radio">
            <input type="radio" formControlName="survived" value="0">
            no
        </label>
    </div>
    <div class="field">
        <label class="label">Age</label>
        <div class="control">
            <input formControlName="age" class="input is-success" type="text" />
        </div>
        <div *ngIf="age?.invalid && (age?.dirty || age?.touched)" class="alert">
            <div *ngIf="age?.errors?.['min']">
                <p class="help is-danger">age must be between 0 and 80</p>
            </div>
            <div *ngIf="age?.errors?.['max']">
                <p class="help is-danger">age must be between 0 and 80</p>
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button type="submit" [disabled]="!searchForm.valid" class="button is-link">Submit</button>
        </div>
        <div class="control">
            <button type="submit" class="button is-link is-light">Cancel</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th><abbr title="Position">Name</abbr></th>
            <th><abbr title="Position">Sex</abbr></th>
            <th><abbr title="Played">Survived</abbr></th>
            <th><abbr title="Played">Pclass</abbr></th>
            <th><abbr title="Won">Age</abbr></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th><abbr title="Position">Name</abbr></th>
            <th><abbr title="Position">Sex</abbr></th>
            <th><abbr title="Played">Survived</abbr></th>
            <th><abbr title="Played">Pclass</abbr></th>
            <th><abbr title="Won">Age</abbr></th>
        </tr>
    </tfoot>
    <tbody>
        <tr *ngFor="let p of results | async ">
            <td>{{p.Name }}</td>
            <td>{{p.Sex}}</td>
            <td>{{p.Survived}}</td>
            <td>{{p.Pclass}}</td>
            <td>{{p.Age}}</td>
        </tr>
    </tbody>
</table>